#bar {
		top:10em;
		height:200px;
		width:2px;
		background-color:#fbb;
		position:absolute;
}

.instrument {
		width:100%;
		clear:both;
}

.instrument-name {
		width:6em;
		float:left;
}

.instrument-note {
		font-weight:bold;
		display:inline-block;
}

.even-row .instrument-notes {
		background-color:#CCC;
}